<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>インプットページ</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
	<form th:action="@{/save}" method="post" class="display_inline" th:object="${bookForm}">
		<table class="margin_5">
			<tr>
				<td>
					<label for="title" th:text="#{title}">タイトル</label>
				</td>
				<td>
					<input type="text" id="title" th:field="*{title}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="author" th:text="#{author}">著者</label>
				</td>
				<td>
					<input type="text" id="author" th:field="*{author}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="publisher" th:text="#{publisher}">出版社</label>
				</td>
				<td>
					<input type="text" id="publisher" th:field="*{publisher}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="publishedYear" th:text="#{publishedyear}">出版年</label>
				</td>
				<td>
					<input type="text" id="publishedYear" th:field="*{publishedYear}" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="review" th:text="#{review}">感想</label>
				</td>
				<td>
					<textarea id="review" th:field="*{review}" rows="5" cols="50"></textarea>
				</td>
			</tr>
			<tr>
				<td><label for="status" th:text="#{status}">読書ステータス</label></td>
				<td>
					<select id="status" name="status" th:field="${bookForm.status}">
						<option value="UNREAD" th:selected="${bookForm.status == 'UNREAD'}">未読</option>
						<option value="READING" th:selected="${bookForm.status == 'READING'}">読書中</option>
						<option value="COMPLETED" th:selected="${bookForm.status == 'COMPLETED'}">読了</option>
					</select>
				</td>
			</tr>
		</table>
		<input type="submit" value="送信" />
	</form>
	<button onclick="history.back()">戻る</button>
</body>

</html>