<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>DBアウトプットページ</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<script th:inline="javascript">
		/*<[CDATA[*/
		const baseUrl = /*[[@{/}]]*/'';
		const favoriteUrl = /*[[@{/favorite}]]*/'';
		/*]]>*/
	</script>
	<script th:src="@{/js/bookApp.js}"></script>
</head>

<body>
	<h1>書籍一覧</h1>
	<form th:action="@{/search}" method="get" class="display_inline">
		タイトル:
		<input type="text" name="title" th:value="${title}" />
		著者:
		<input type="text" name="author" th:value="${author}" />
		出版社:
		<input type="text" name="publisher" th:value="${publisher}" />
		<input type="submit" class="button_base btn-info" value="検索">
		<button type="button" class="button_base btn-secondary" onclick="clearSearchForm()">クリア</button>
	</form>
	<button onclick="location.href='input'" class="display_inline button_base btn-primary">新規作成</button>
	<a th:href="@{/favorites}" class="display_inline button_base btn-info">
		お気に入り一覧
	</a>
	<a th:href="@{/home}" class="display_inline button_base btn-info">
		全件表示
	</a>
	<form method="post" name="updateDeleteForm" class="display_inline">
		<input type="submit" value="更新" class="button_base btn-primary" onclick="actionFunc('update')" />
		<input type="submit" value="削除" class="button_base btn-danger" onclick="return confirmDelete() && actionFunc('delete')"  />
		<p th:if="${#lists.isEmpty(bookList)}">表示対象データが存在しません。</p>
		<table th:unless="${#lists.isEmpty(bookList)}" class="border_1 text_left">
			<thead class="bgcolor_aqua padding_5">
				<tr>
					<th></th>
					<th th:text="#{bookid}">書籍ID</th>
					<th th:text="#{title}">タイトル</th>
					<th th:text="#{author}">著者</th>
					<th th:text="#{publisher}">出版社</th>
					<th th:text="#{publishedyear}">出版年</th>
					<th th:text="#{review}">感想</th>
					<th th:text="#{isFavorite}">お気に入り</th>
					<th th:text="#{status}">読書ステータス</th>
				</tr>
			</thead>
			<tbody class="padding_5">
				<tr th:each="book : ${bookList}" th:object="${book}">
					<td><input type="radio" name="bookId" th:value="*{id}" /></td>
					<td th:text="*{id}"></td>
					<td th:text="*{title}"></td>
					<td th:text="*{author}"></td>
					<td th:text="*{publisher}"></td>
					<td th:text="*{publishedYear}"></td>
					<td th:text="*{review}"></td>
					<td>
						<button type="button" class="button_base btn-favorite"
							th:text="*{isFavorite} ? '★' : '☆'"
							th:attr="data-id=*{id}, data-isFavorite=*{isFavorite}"
							onclick="toggleFavorite(this)">
						</button>
					</td>
					<td th:text="*{status != null} ? *{status.label}" : ''></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>

</html>